<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean class="lecture.p05core.Service">
		<!-- ref 속성의 값이 주입할 bean의 id 속성과 같아야함 -->
		<property name="repository" ref="repository"></property> 
	</bean>
	
	<bean id="repository" class="lecture.p05core.Repository"></bean>
	
</beans>
